body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  button {
    padding: 20px 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 1s ease;
  }
  
  button:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
  }
  
  .natijalar {
    margin-top: 40px;
    text-align: center;
    font-size: 22px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .yakuniy {
    font-weight: bold;
    font-size: 26px;
    color: #222;
    margin-top: 20px;
  }